.h-15 {
  height: 15%;
}

.h-10 {
  height: 10%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.bg-primary-color {
  background-color: #F1F0F0;
}

.bg-secondary-color {
  background-color: #D69FA2   ;
}

.bg-content-color {
  background-color: #F1F1F1;
}

.bg-footer-color {
  background-color: #190F25;
}

a {
  text-decoration: none !important;
  color: inherit !important; 
}

th {
  background-color: #CCC;
}
